@import "tailwindcss";

:root {
  --background: #FAF9F4;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-whitemid: #FAF9F4;
  --color-lightpurple: #ECE8F5;
  --color-darkpurple: #785990;
  --color-darkgreen: #526239;
  --color-lightgreen: #B4CD94;
  --color-blackwrite: #373739;
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

